@use '../../styles/vars';
@use '../../styles/mixin';

.button {
  border-radius: vars.$btnRadius;
  padding: 0.6em 1em;
  font-family: inherit;
  font-size: vars.$btnFont;
  letter-spacing: 1px;
  font-weight: bold;
  outline: 0;
  border: 0;

  &--simple {
    background-color: vars.$white;
    border: 1px solid vars.$white;
  }

  &--empty {
    background-color: transparent;
    color: vars.$white;
    border: 1px solid vars.$white;
  }
}


