@use '../../styles/vars';


.hero {

  &__container {
    margin-top: 3em;
  }

  &__title {
    color: vars.$white;
    font-weight: vars.$fontBold;
    font-size: 1.3em;
    margin-left: 3em;
    padding: 1em 0;
  }

  &__section {
    background-image: linear-gradient(
      to left,
      #20738579,
      #207385ea,
    ), url(../../../public/img/hero.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: auto;
    width: 100%;
  }

  &__tabs-container {
    @media (min-width: vars.$mediumScreen) {
      width: 50%;
      padding-top: 1em;
    }
  }
  
  &__tabs-container ul {
    margin-left: 3em;
    margin-bottom: 0.88em;
    display: flex;
  }

  &__tabs-container a {
    text-decoration: none;
    padding: 0.8em;
    border-radius: vars.$btnRadius vars.$btnRadius 0 0;
    background-color: vars.$darkblue;
    color: vars.$white;
    transition: background-color 0.3s, color 0.3s;
  }

  &__tabs-container a:hover {
    background-color: vars.$whiteblue;
    color: vars.$darkblue;
  }

  &__tabs-container a.active {
    background-color: vars.$white;
    color:vars.$darkblue;
  }

  &__panels {
    margin: 0 3em;
    background-color: vars.$white;
    border-radius: 0 vars.$btnRadius vars.$btnRadius vars.$btnRadius;
    @media (min-width: vars.$mediumScreen) {
      width : 50%;
      min-height: 500px;
    }
  }

  &__panels > div {
    display: none;
    padding: 20px; 
    background-color: transparent;
    color: vars.$darkblue;
    border-radius: 5px;
  }

  &__panels > div.active {
    display: block;
  }
}

