// Breakpoints variables
$small: 480px;
$medium: 768px;
$large: 1024px;
$xl: 1200px;

//Mixin
@mixin small {
  @media only screen and (min-width: $small){
    @content
  }
};

@mixin medium {
  @media only screen and (min-width: $medium){
    @content
  }
};

@mixin large {
  @media only screen and (min-width: $large){
    @content
  }
};

@mixin large {
  @media only screen and (min-width: $large){
    @content
  }
};
