@use "sass:color";

// Colors
$white: #f7fdfd;
$mediumblue: #207285;
$darkblue: #1c223d;

// Fonts
$defaultFont: 'Montserrat', sans-serif;
$dyslexiaFont: 'OpenDyslexic', sans-serif;

//Font sizes
$btnFont: 0.8em;

//Radius
$btnRadius: 0.3em;
