@use "sass:color";

// Colors
$white: #f7fdfd;
$mediumblue: #207285;
$darkblue: #1c223d;

// Fonts
$defaultFont: 'Montserrat', sans-serif;
$dyslexiaFont: 'OpenDyslexic', sans-serif;

//Font sizes and weight
$btnFont: 0.8em;
$fontLight: 300;
$fontMedium: 500;
$fontBold: 700;

//Radius
$btnRadius: 0.3em;
