@use 'reset';
@use 'vars';

//font for dyslexia
@font-face {
  font-family: 'OpenDyslexic';
  src: url('../assets/fonts/OpenDyslexic3-Regular.ttf')
}

body {
  min-height: 100vh;
  font-size: 1.6rem;
  background: vars.$darkblue;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right top, #217084, #1badae);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right top, #217084, #1badae); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

ul , li {
  list-style-type: none;
}

// default body font
.default-font {
  font-family: vars.$defaultFont;
}

// Dyslexia font
.dyslexia-font {
  font-family: 'OpenDyslexic', sans-serif;
}



