@use '../../styles/vars';
@use '../../styles/mixin';

/* Penser à jeter un oeil au menu burger de MDN, très sympa pour la version mobile */

.nav-menu {
  display: block;
  height: 3.1em;
  margin-bottom: 1em;

  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
  }

  &__border-block {
    height: 1px;
    background-color: vars.$white;
  }

  &__logo {
    color: vars.$white;
    font-size: 1em;
  }

  &__burger-button {
    width: 3.5em;
    border: none; 
    border-radius: vars.$radius;
    background-color: vars.$mediumblue;
    margin-bottom: 0.5em;
  }

  &__burger-button[aria-expanded='true'] {
    background-color: vars.$darkblue;
    color: vars.$white;
  }

  &__burger-button svg {
    width: 2em;
    fill: vars.$white;
  }

  &__burger-button--text {
    display: block;
    position: relative;
    bottom: 3px;
    font-size: 0.8em;
    color: vars.$white;
  }

  &__expanded {
    display: flex;
    flex-direction: column;
    position: sticky;
    background-color: vars.$darkblue;
    color: vars.$white;
    // margin-top: 1em;
    // padding: 1em;
  }

  &__not-expanded {
    display: none;
  }

 
}
