@use '../../styles/vars';
@use '../../styles/mixin';


.nav-menu {
  display: block;
  height: 3.1em;
  margin-bottom: 1em;

  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
  }

  &__border-block {
    height: 1px;
    background-color: vars.$white;
  }

  &__logo {
    color: vars.$white;
    font-size: 1em;
  }

  &__burger-button {
    width: 3.5em;
    border: none; 
    border-radius: vars.$btnRadius;
    background-color: vars.$mediumblue;
    // margin-bottom: 0.5em;
  }

  &__burger-button[aria-expanded='true'] {
    background-color: vars.$darkblue;
    color: vars.$white;
  }

  &__burger-button--text {
    display: block;
    position: relative;
    bottom: 3px;
    font-size: 0.8em;
    color: vars.$white;
  }

  &__burger-svg {
    height: 2.3em;
    fill: vars.$white !important;
    transition: transform 0.3s;
  }

  &__burger-svg-cross {
    height: 2.3em;
    fill: vars.$white !important; 
    transform: rotate(45deg);
    transition: transform 0.3s;
  }

  &__expanded {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    background-color: vars.$darkblue;
    color: vars.$white;
    border-bottom: 1px solid vars.$white;
    padding: 1em;
  }

  &__expanded--element {
    padding: 1em;
    border-top: 1px solid vars.$mediumblue;
  }

  &__expanded--buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 1em;;
  }

  &__not-expanded {
    display: none;
  }
}
