@use '../../styles/vars';
@use '../../styles/mixin';

/* Penser à jeter un oeil au menu burger de MDN, très sympa pour la version mobile */

.nav-menu {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  border-bottom: 1px solid vars.$white;

  &__left-part {
    display: flex;
    flex-direction: column;
  }

  &__right-part {
    display: flex;
    flex-direction: row;
  }

  &__logo {
    color: vars.$white;
  }
}
